#home {
  background-color: $red;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 0.5em;
  }
  a {
    color: $lightgray;
    font-weight: bold;
    font-size: 16px;
  }
}
